In [21]:
from google.colab import files
uploaded = files.upload()

Saving my_movies.csv to my_movies (3).csv

In [22]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
moviesdata = pd.read_csv(r'my_movies.csv')

In [23]:
moviesdata.head()

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0

In [24]:
moviesdata.dtypes

V1               object
V2               object
V3               object
V4               object
V5               object
Sixth Sense       int64
Gladiator         int64
LOTR1             int64
Harry Potter1     int64
Patriot           int64
LOTR2             int64
Harry Potter2     int64
LOTR              int64
Braveheart        int64
Green Mile        int64
dtype: object

In [25]:
moviesdata.isnull().sum()

V1               0
V2               0
V3               3
V4               8
V5               9
Sixth Sense      0
Gladiator        0
LOTR1            0
Harry Potter1    0
Patriot          0
LOTR2            0
Harry Potter2    0
LOTR             0
Braveheart       0
Green Mile       0
dtype: int64

In [26]:
moviesdata.shape

(10, 15)

In [27]:
moviesdata

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,NaN,NaN,NaN,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,NaN,1,1,0,0,0,0,0,1,0,1

In [28]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

# create the dataset
dataset = [['Sixth Sense', 'LOTR1', 'Harry Potter1', 'Green Mile', 'LOTR2'],
        ['Gladiator', 'Patriot', 'Braveheart'],
        ['LOTR1', 'LOTR2'],
        ['Gladiator', 'Patriot', 'Sixth Sense'],
        ['Gladiator', 'Patriot', 'Sixth Sense'],
        ['Gladiator', 'Patriot', 'Sixth Sense'],
        ['Harry Potter1', 'Harry Potter2'],
        ['Gladiator', 'Patriot'],
        ['Gladiator', 'Patriot', 'Sixth Sense'],
        ['Sixth Sense', 'LOTR', 'Gladiator', 'Green Mile']]


te = TransactionEncoder()
te_try = te.fit(dataset).transform(dataset)

In [29]:
df = pd.DataFrame(te_try, columns=te.columns_)

In [30]:
df

,Braveheart,Gladiator,Green Mile,Harry Potter1,Harry Potter2,LOTR,LOTR1,LOTR2,Patriot,Sixth Sense
0,False,False,True,True,False,False,True,True,False,True
1,True,True,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,True,True,False,False
3,False,True,False,False,False,False,False,False,True,True
4,False,True,False,False,False,False,False,False,True,True
5,False,True,False,False,False,False,False,False,True,True
6,False,False,False,True,True,False,False,False,False,False
7,False,True,False,False,False,False,False,False,True,False
8,False,True,False,False,False,False,False,False,True,True
9,False,True,True,False,False,True,False,False,False,True

## Model Training

In [31]:
from mlxtend.frequent_patterns import apriori

In [32]:
apriori(df,min_support=0.2)

    support   itemsets
0       0.7        (1)
1       0.2        (2)
2       0.2        (3)
3       0.2        (6)
4       0.2        (7)
5       0.6        (8)
6       0.6        (9)
7       0.6     (8, 1)
8       0.5     (1, 9)
9       0.2     (9, 2)
10      0.2     (6, 7)
11      0.4     (8, 9)
12      0.4  (8, 1, 9)

## Model Training with Column Result return

In [33]:
frequent_items = apriori(df,min_support=0.2, use_colnames=True)
frequent_items

    support                           itemsets
0       0.7                        (Gladiator)
1       0.2                       (Green Mile)
2       0.2                    (Harry Potter1)
3       0.2                            (LOTR1)
4       0.2                            (LOTR2)
5       0.6                          (Patriot)
6       0.6                      (Sixth Sense)
7       0.6               (Gladiator, Patriot)
8       0.5           (Gladiator, Sixth Sense)
9       0.2          (Sixth Sense, Green Mile)
10      0.2                     (LOTR2, LOTR1)
11      0.4             (Patriot, Sixth Sense)
12      0.4  (Gladiator, Patriot, Sixth Sense)

# Calculate Rules

In [34]:
from mlxtend.frequent_patterns import association_rules
res = association_rules(frequent_items, metric="confidence", min_threshold=0.2)
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Patriot),0.7,0.6,0.6,0.857143,1.428571,0.18,2.8
1,(Patriot),(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
2,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
3,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
4,(Sixth Sense),(Green Mile),0.6,0.2,0.2,0.333333,1.666667,0.08,1.2
5,(Green Mile),(Sixth Sense),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
6,(LOTR2),(LOTR1),0.2,0.2,0.2,1.000000,5.000000,0.16,inf
7,(LOTR1),(LOTR2),0.2,0.2,0.2,1.000000,5.000000,0.16,inf
8,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
9,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
10,"(Gladiator, Patriot)",(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
11,"(Gladiator, Sixth Sense)",(Patriot),0.5,0.6,0.4,0.800000,1.333333,0.10,2.0
12,"(Patriot, Sixth Sense)",(Gladiator),0.4,0.7,0.4,1.000000,1.428571,0.12,inf
13,(Gladiator),"(Patriot, Sixth Sense)",0.7,0.4,0.4,0.571429,1.428571,0.12,1.4
14,(Patriot),"(Gladiator, Sixth Sense)",0.6,0.5,0.4,0.666667,1.333333,0.10,1.5
15,(Sixth Sense),"(Gladiator, Patriot)",0.6,0.6,0.4,0.666667,1.111111,0.04,1.2

## Calculate the length of Itemset

In [44]:
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

   support              itemsets  length
0      0.7           (Gladiator)       1
1      0.6             (Patriot)       1
2      0.6         (Sixth Sense)       1
3      0.6  (Gladiator, Patriot)       2

In [45]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) & (frequent_itemsets['support'] >= 0.6) ]

   support              itemsets  length
3      0.6  (Gladiator, Patriot)       2

In [46]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'Gladiator', 'Patriot'} ]

   support              itemsets  length
3      0.6  (Gladiator, Patriot)       2

In [47]:
oht_ary = te.fit(dataset).transform(dataset, sparse=True)
dense_df = pd.DataFrame.sparse.from_spmatrix(oht_ary, columns=te.columns_)

In [48]:
frequent_itemsets = apriori(dense_df, min_support=0.6, use_colnames=True)

In [49]:
from mlxtend.frequent_patterns import apriori

frequent_itemsets = apriori(dense_df, min_support=0.6, use_colnames=True, max_len=3)

# To display the itemsets and their support
print(frequent_itemsets)

   support              itemsets
0      0.7           (Gladiator)
1      0.6             (Patriot)
2      0.6         (Sixth Sense)
3      0.6  (Gladiator, Patriot)